.col.btn {
  min-height: 60px;
}

.strike {
  text-decoration: line-through;
}

.italic {
  font-style: italic;
}

.progress-bar {
  height: 19px;
  border-radius: 0;
  border: none;
  background: lightblue;
}

.ui-progressbar-value {
  background: lightsalmon;
  border-right: 2px solid rgb(86, 174, 206);
}

.ui-widget.ui-widget-content {
  border: none;
}

/* Hide the questions by default, jQuery will show them one at a time */
.question {
  display: none;
}

/* Hide the results div until they have answered all questions */
.results-container {
  display: none;
}
