:root {
  --background: #323F4E;
  --foreground: #F8F8F2;
  --cursor: #F8F8F2;
  --color0: #3D4C5F;
  --color1: #F48FB1;
  --color2: #A1EFD3;
  --color3: #F1FA8C;
  --color4: #92B6F4;
  --color5: #BD99FF;
  --color6: #87DFEB;
  --color7: #F8F8F2;
  --color8: #56687E;
  --color9: #EE4F84;
  --color10: #53E2AE;
  --color11: #F1FF52;
  --color12: #6498EF;
  --color13: #985EFF;
  --color14: #24D1E7;
  --color15: #E5E5E5;
}

* {
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: 'Major Mono Display', monospace;
  color: var(--color15);
}

@media all and (min-width: 780px) {
  * {
    font-size: 1.25rem;
  }
}

@media all and (min-width: 1280px) {
  * {
    font-size: 1.05rem;
  }
}

body {
  background: var(--background);
}

a {
  text-decoration: none;
  color: var(--cursor);
}

.main {
  min-height: 88vh;
}

.btn.btn-lg:hover, .btn-block:hover, a:hover {
  background: var(--color6);
  border-color: var(--color0);
  color: var(--color0);
}

.btn.btn-lg.btn-block {
  max-width: 500px;
  margin: 0 auto;
}

.btn.btn-outline-info {
  color: var(--cursor);
  border-color: var(--cursor);
}

.jumbotron, .card {
  background: var(--color8);
}

.col.btn {
  min-height: 60px;
}

.strike {
  text-decoration: line-through;
}

.questions-container,
.results-container {
  max-width: 856px;
}

.progress-bar {
  height: 9px;
  border-radius: 0;
  border: none;
  background: var(--color12);
}

.ui-progressbar-value {
  border: none;
  background: var(--color14);
  border-right: 2px solid var(--color4);
}

.ui-widget.ui-widget-content {
  border: none;
}

/* Hide the questions by default, jQuery will show them one at a time */
.question {
  display: none;
}

/* Hide the results div until they have answered all questions */
.results-container {
  display: none;
}
